.cartItem {
    display: flex;
    align-items: center;
    height: 200px;
    
}

.cartItem .img-box{


}
.cartItem .detail{
    padding: 20px;

    h4{
        color: gray;
        margin-bottom: 10px;
      

    }
    
    

}