.login {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    display: flex;
    justify-content: space-between;
   
  }

.loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
  }
  
.loginDesc {
    font-size: 24px;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginCenter {
    width: 50px;
}

.loginBox {
    height: 300px;
    width: 300px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.loginInput {

    height: 50px;
    font-size: 18px;
    width: 280px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
    padding-left: 20px;

}

.loginInput:focus {
    outline: none;
}

.loginBtn{

    height: 50px;
    border-radius: 10px;
    width: 300px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.forgotPassword {
    color: rgb(0, 178, 223);
    cursor: pointer;
}

.newAccountBtn {
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background-color: rgb(129, 211, 6);
    padding: 10px 30px;

}