*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}

.topHeader {
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    background: #e3edf6;
    width: 100%;

}

.rootLeft{

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.topHeader .rootLeft  span{
    font-size: 50px;
    font-weight: bold;
    margin-right: 50%;
    margin-bottom: 40px;
}

.topHeader .rootLeft .link{
    background: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
}

.topHeader .rootLeft .link:hover {
    background: #0989ff;
    color: white;
}